.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--orange-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.89) -0.47%,
      #ff9c5a 91.88%
    );
  }

  &--lavender-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.89) -0.47%,
      #c2c6e6 91.88%
    );
  }
}

.content-container {
  padding: 0 5px;
}

.header-container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 375px) {
    height: 15rem;
  }

  img {
    height: 100%;
    width: auto;
  }
}

img {
  height: 100%;
  width: 100%;
}

.usp-container {
  height: 100%;
  margin: 0.625rem 0;
  align-items: center;
  display: flex;

  .usp-item {
    width: 85.61375rem;
    height: 4.625rem;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.offer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    display: flex;
    flex-direction: column;
  }
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .offer-button {
    width: 200px;
    border-radius: 3rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}

.navigate-container {
  height: 3.75rem;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0px;

  .navigate-button {
    height: 60px;
    width: calc(50% - 1px);
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.icon-image {
  height: 2rem;
  width: 2rem;
}

.logo-img {
  width: 161px;
  height: 44px;
}
